{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 3 iOS versions", "last 3 versions", "ie >= 9"]
      },
      "modules": false,
      "loose": true
    }]
  ],
  "plugins": [
    "add-module-exports",
    "transform-es2015-modules-umd"
  ],
  "moduleId": "parseXsdDuration"
}
